.top {
  &__background {
    max-width: 1440px;
    margin: 0 auto 121px;
  }

  &__container {
    position: relative;
  }

  &__box {
    position: absolute;
    right: 51px;
    top: 180px;
    border: 8px solid #fff;
  }

  &__text {
    display: block;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 700;
    text-align: center;

    &:first-child {
      letter-spacing: 43px;
      padding: 0 0 61px 46px;
      padding-top: 43px;
    }

    &:nth-child(2) {
      display: inline;
      padding: 0 0 0 60px;
      letter-spacing: 51px;
    }

    &:nth-child(3) {
      display: inline;
      padding-left: 12px;
      margin-right: 12px;
      letter-spacing: 50px;
    }

    &:last-child {
      padding: 77px 0 67px 52px;
      letter-spacing: 48px;
    }
  }
}