html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: $bg;
  font-family: $montserrat;
  color: $text;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
}

.container  {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5px;
}

.main {
  flex-grow: 1;
}

.link {
  padding: 12px 16px;
  font-weight: 700;
  border: 4px solid $accent;
  color: $accent;
  outline: transparent;
  transition: all .3s;

  &:hover {
    color: $accent;
    background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s;
  }

  &:active {
    background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:focus {
    background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.title {
  margin-bottom: 65px;
  text-align: center;
  font-size: 36px;
  color: $accent;
  font-weight: 500;
}

.subtitle {
  margin-bottom: 55px;
  text-align: center;
  font-size: 24px;
  margin-right: 10px;
}

.accent {
  display: block;
  text-transform: uppercase;
  color: $accent;
  font-size: 24px;
}

// .slick-slide {
//   max-width: 300px;
// }