@media (max-width: 1366px) {

  .top-slider {
    &__picture {
      margin-right: 10px;
    }

    &__image {
      margin-right: 20px;
    }
  }

  .top {
    &__box {
      top: 150px;
    }
  }

}

@media (max-width: 1200px) {

  .top-slider,
  .nova,
  .popular,
  .visagiste,
  .history,
  .application,
  .like,
  .top,
  .master,
  .inventor,
  .info {
    margin-bottom: 40px;
  }

  .top-slider {
    &__item {
      margin: 0 15px 30px;
    }

    &__picture {
      padding-top: 120px;
      margin: 0 10px;
    }

    &__image {
      max-width: 50%;
      margin-right: 0;
    }

    &__text {
      margin-bottom: 40px;
    }
  }

  .nova,
  .popular,
  .like {
    &__title {
      margin-bottom: 30px;
    }

    &__item {
      margin-bottom: 50px;
    }
  }

  .subtitle {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .history {
    &__link {
      margin-right: 0;
    }
  }

  .base {
    &__inner {
      justify-content: space-evenly;
    }

    &__image {
      max-width: 60%;
      left: 0;
      margin-right: 10px;
    }
  }

  .filter-color {
    margin-left: 0;

    &__title {
      padding-top: 20px;
    }

    &__compound {
      &::after {
        left: 0;
      }
    }

    &__compound-subtitle {
      margin-left: 0;

      &::before {
        right: 10px;
      }

      &::after {
        right: 0;
      }
    }

    &__compound-text {
      margin-left: 0;

      &::after {
        left: 0;
      }
    }
  }

  .application,
  .inventor {
    &__title {
      margin-bottom: 30px;
    }
  }

  .top {
    &__box {
      right: 50px;
      left: 50px;
      text-align: center;
    }

    &__text {
      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:last-child {
        letter-spacing: 25px;
      }

      &:first-child {
        padding: 20px 0;
      }

      &:nth-child(2) {
        padding: 0;
      }

      &:nth-child(3) {
        padding-left: 0;
        margin-right: 0;
      }

      &:last-child {
        padding: 20px 0;
      }
    }
  }

  .master {
    &__image {
      margin-right: 5px;
      margin-left: 0;
    }

    &__item {
      margin-right: 0;
    }
  }

}

@media (max-width: 1080px) {

  .menu {
    padding: 0;
    margin-right: 0;

    &__burger {
      display: block;
      width: 45px;
      height: 31px;
      margin-right: 10px;
      background-image: url('../images/icon/menu.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: transparent;
      border: none;
      transition: all 0.3s linear;
      cursor: pointer;
      z-index: 10;
    }

    &__burger--active {
      padding: 5px;
      background-image: url('../images/icon/close.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.3s linear;

      &:hover {
        padding: 5px;
        background-image: url('../images/icon/close-bold.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 0.3s linear;
      }
    }

    &__list {
      width: 100%;
      visibility: hidden;
      flex-direction: column;
      position: absolute;
      top: 100px;
      right: 0;
      background-image: url("../images/bg-top.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translate(0, -200%);
      transition: all 0.5s;
      opacity: 0;

      &.active {
        visibility: visible;
        transform: translate(0, -6%);
        background-color: $bg;
        opacity: 1;
        transition: all 0.5s;
      }
    }

    &__link {
      font-size: 24px;
      margin-bottom: 10px;
      text-align: center;
    }

    &__link+.menu__link {
      padding: 0 0 10px;
      margin: 0;
    }
  }

  .user-nav {
    display: none;
  }

  .top-slider {
    &__image-mini {
      display: none !important;
    }
  }

  .nova,
  .popular,
  .like {
    &__container {
      max-width: 580px;
    }

    &__item {
      margin-left: 0;
    }

    .slick-slide {
      max-width: 300px;
    }

    .slick-next {
      right: -31px;
    }
  }

  .visagiste {
    &__text {
      margin-bottom: 30px;

      &:nth-of-type(2),
      &:last-of-type {
        margin-bottom: 30px;
      }
    }

    &__img-little {
      display: none;
    }
  }

  .history {
    &__inner,
    &__inner--story {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 15px 0;
    }

    &__inner--story {
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    &__text,
    &__text--story {
      margin: 0 auto;
      max-width: 260px;
      padding: 30px 0;
      font-size: 22px;
    }

    &__link,
    &__link--story {
      padding: 0 10px;
    }

    &__link+.history__link {
      margin-left: 0;
    }

    &__link+.history__link,
    &__link--story+.history__link--story {
      margin: 0;
    }

    &__image,
    &__image--story {
      margin: 0 auto;
    }

  }

  .footer {
    padding-top: 40px;
  }

  .base {
    margin-bottom: 0;

    &__inner {
      flex-direction: column;
    }

    &__image {
      margin: 0 auto;
    }
  }

  .filter-color {
    max-width: 630px;
    margin: 0 auto;

    &__title,
    &__text-top,
    &__text {
      text-align: center;
      margin-bottom: 30px;
    }

    &__box+.filter-color__box {
      margin-bottom: 60px;
    }

    &__text-advice {
      margin: 0;
    }

    &__text-mini {
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;
    }

    &__compound {
      &::after {
        margin-bottom: 30px;
      }
    }

    .link {
      display: flex;
      justify-content: center;
      max-width: 190px;
      margin: 0 auto 30px;
    }
  }

  .application {
    &__box {
      margin: 0 10px 0 0;
    }

    &__list {
      left: 0;
    }

    &__item {
      &:first-child {
        padding-top: 70px;
      }

      &:nth-child(2) {
        margin-bottom: 70px;
      }
    }

    &__text {
      right: 0;

      &::before {
        font-size: 75px;
        left: 125px;
        bottom: 55px;
      }
    }
  }

  .top {
    &__box {
      top: 120px;
      border: 6px solid #fff;
    }

    &__text {
      font-size: 40px;
    }
  }

  .master,
  .inventor {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__item,
    &__box {
      text-align: center;
      padding: 0 5px;
      margin: 0;
    }
  }

  .inventor {
    &__text {
      &:first-child {
        padding-top: 0;
      }
    }
  }

  .info {
    &__box {
      padding: 0 5px;
      right: 0;
    }

    &__text-border {
      margin: 0 auto 40px;
    }

    &__text,
    &__accent {
      text-align: center;
    }
  }

}

@media (max-width: 768px) {

  .top-slider {
    margin-bottom: 0;

    &__list {
      flex-direction: column;
    }

    &__image {
      max-width: 100%;
    }

    &__item {
      margin: 0 auto 30px;
    }

    &__picture {
      padding-top: 20px;
      margin: 0 auto 10px;
    }

    &__text {
      max-width: 100%;
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .slick-next,
    .slick-prev {
      transform: translateY(-500%);
    }
  }

  .nova,
  .popular,
  .like {
    &__container {
      max-width: 290px;
    }

    .slick-next {
      right: 15px;
    }

    .slick-prev {
      left: 5px;
    }
  }

  .visagiste {
    &__inner {
      flex-direction: column-reverse;
      margin: 0;
    }

    &__img {
      margin: 0 auto;
    }

    &__info {
      margin: 0 auto;
    }
  }

  .history {
    &__inner,
    &__inner--story {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 15px 0;
    }
  }

  .link {
    display: flex;
    justify-content: center;
    max-width: 190px;
    margin: 0 auto 30px;
  }

  .footer-top {
    justify-content: space-around;
    flex-wrap: wrap;

    &__item {
      margin: 0 0 15px;
      padding: 0 5px;
      text-align: center;

      &:first-child {
        margin-left: 0;
      }

      &:nth-child(3) {
        margin-right: 0;
      }
    }

    &__title,
    &__link {
      margin-bottom: 30px;
    }
  }

  .application {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__box {
      margin: 0 0 15px 0;
    }

    &__text {
      text-align: center;

      &::before {
        left: 170px;
      }
    }
  }

  .top {
    &__box {
      top: 80px;
      right: 10px;
      left: 10px;
      border: 4px solid #fff;
    }

    &__text {
      font-size: 24px;
    }
  }

  .master {
    &__text {
      &:first-child{
        padding-top: 30px;
      }
    }
  }

}


@media (max-width: 480px) {

  body {
    font-size: 14px;
  }

  .top-slider {
    &__item {
      margin: 0 10px 30px;
    }

    .slick-next,
    .slick-prev {
      transform: translateY(-400%);
    }

    .slick-next {
      right: 20px;
    }

    .slick-prev {
      left: 20px;
    }
  }

  .nova,
  .popular,
  .like {
    &__container {
      max-width: 250px;
    }

    &__item {
      max-width: 250px;
    }

    .slick-next {
      right: 5px;
    }

    .slick-next,
    .slick-prev {
      transform: translateY(50%);
    }
  }

  .history {
    &__inner {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    &__inner--story {
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  .footer-bottom {
    &__text {
      font-size: 13px;

      &:first-child {
        padding-right: 10px;
      }
    }
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 20px;
  }

  .filter-color {

    &__title,
    &__text-top,
    &__text {
      padding: 0 5px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__box {
      display: block;
    }

    &__box+.filter-color__box {
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }

    &__advice {
      left: 12px;
    }

    &__text-advice {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }

    &__text-mini {
      align-items: center;
      justify-content: center;
    }
  }

  .application {
    &__item {
      padding: 0 5px;
      &:first-child,
      &:nth-child(2) {
        padding-top: 0;
        margin-bottom: 30px;
      }
    }

    &__text {
      text-align: center;

      &::before {
        display: none;
      }
    }
  }

  .top {
    &__box {
      top: 70px;
      border: none;
    }

    &__text {
      font-size: 20px;

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:last-child {
        letter-spacing: 15px;
      }
      
      &:first-child,
      &:last-child {
        padding: 10px 0;
      }
    }
  }

}