@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 1175px;
  padding: 24px 0 23px 5px;
  z-index: 5;
  
  &__container {
    max-width: 1175px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: 55px;
  }
}

.menu {
  padding-top: 10px;
  margin-right: auto;

  &__list {
    display: flex;
    margin-right: 40px;
  }

  &__item + .menu__item {
    padding-left: 31px;
  }

  &__item {
    &:first-child {
      margin-left: -3px;
    }

    &:nth-child(2) {
      padding-right: 2px;
    }

    &:nth-child(3) {
      padding-right: 4px;
    }

    &:nth-child(4) {
      padding-right: 4px;
    }

    &:nth-child(5) {
      padding-right: 2px;
    }
  }


  &__link {
    font-weight: 400;
    color: $text;
    transition: all .3s;
    outline: transparent;

    &:hover {
      color: $accent;
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all .3s;
    }

    &:active {
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:focus {
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__link--active {
    color: $accent;
  }
}

.user-nav {
  margin-right: 15px;
  &__image {
    border-bottom: 3px solid transparent;
    transition: all .3s;
    &:hover,
    &:focus {
      border-color: $accent;
    }
  }
}

.top-slider {
  margin-bottom: 120px;

  &__container {
    max-width: 1445px;
    margin: 0 auto;
  }

  &__list {
    position: relative;
    display: flex !important;
  }

  &__picture {
    padding-top: 249px;
    margin-bottom: 44px;
  }

  &__image {
    margin-right: 75px;
  }

  &__text {
    max-width: 390px;
    margin-bottom: 95px;
    font-weight: 400;
    font-size: 24px;
  }

  &__link {
    padding: 12px 16px;
    font-weight: 700;
    border: 4px solid $accent;
    color: $accent;
    outline: transparent;
    transition: all .3s;

    &:hover {
      color: $accent;
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all .3s;
    }

    &:active {
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:focus {
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__image-mini {
    position: absolute;
    right: 5px;
    bottom: -1px;
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    width: 46px;
    height: 46px;
    z-index: 5;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/prev.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;
  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    width: 46px;
    height: 46px;
    z-index: 5;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    li {
      padding: 0 5px;

      button {
        position: relative;
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: transparent;
        color: $dots;
        cursor: pointer;
        outline: transparent;
        transition: all .3s;

        &::before {
          position: absolute;
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $dots;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover,
        &:focus {
          background-color: $accent;
        }
      }
      &.slick-active {
        button {
          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}

.footer {
  padding-top: 80px;
  border-top: 1px solid $text;
  font-weight: 400;
}

.footer-top {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 24px;
    margin-bottom: 55px;
  }

  &__link {
    display: block;
    margin-bottom: 40px;
    color: $text;
    transition: all .5s;
    outline: transparent;

    &:last-child {
      margin-bottom: 70px;
    }

    &:hover {
      color: $accent;
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all .5s;
    }

    &:active {
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:focus {
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__link-en {
    color: rgba(255, 255, 255, 0.55);
  }
}

.footer-bottom {
  background-color: $bg-footer;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
  }

  &__text {
    font-size: 16px;
  }
}




@import 'media';