.visagiste {
  margin-bottom: 121px;

  &__container {
    max-width: 1070px;
  }

  &__title {
    margin: 0 8px 10px 0;
  }

  &__subtitle {
    margin-right: 8px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 53px 0 53px;
  }

  &__info {
    padding-top: 39px;
    margin-left: 1px;
  }

  &__num {
    font-family: $roboto;
    font-weight: 900;
    font-size: 37px;
    letter-spacing: -0.7px;
  }

  &__accent {
    font-weight: 700;
    font-size: 18px;

    &:first-child {
      text-transform: lowercase;
    }
  }

  &__text {
    margin-bottom: 62px;
    padding-top: 5px;

    &:nth-of-type(2) {
      padding-top: 10px;
      margin-bottom: 64px;
    }

    &:last-of-type {
      padding: 9px 0 0 1px;
      margin-bottom: 40px;
    }
  }

  &__image {
    position: relative;
  }

  &__img-little {
    position: absolute;
    bottom: 55px;
    left: -146px;
  }
}