.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 25px 0 21px 15px;
  z-index: 5;

  &__advice {
    padding: 19px 0 0 19px;
  }

  &__story {
    padding-top: 23px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.logo {
  margin: 0 54px 0 -1px;

  &__story {
    margin-right: 54px;
    margin-left: 2px;
  }
}

.menu {
  padding-top: 10px;
  margin-right: auto;

  &__list {
    display: flex;
    margin-right: 40px;
  }

  &__item+.menu__item {
    padding-left: 31px;
  }

  &__item {
    &:first-child {
      margin-left: -3px;
    }

    &:nth-child(2) {
      padding-right: 2px;
    }

    &:nth-child(3) {
      padding-right: 4px;
    }

    &:nth-child(4) {
      padding-right: 4px;
    }

    &:nth-child(5) {
      padding-right: 2px;
    }
  }

  &__item-story {
    &:first-child {
      margin: 0 2px 0 -8px;
    }

    &:nth-child(2) {
      padding-right: 2px;
    }

    &:nth-child(3) {
      padding-right: 3px;
    }

    &:nth-child(4) {
      padding-right: 0;
    }

    &:nth-child(5) {
      padding-right: 2px;
    }
  }

  &__link {
    font-weight: 400;
    color: $text;
    transition: all .3s;
    outline: transparent;

    &:hover {
      color: $accent;
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all .3s;
    }

    &:active {
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:focus {
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__link--active {
    color: $accent;
  }
}

.user-nav {
  margin-right: 15px;

  &__image {
    margin-right: 1px;
    border-bottom: 1px solid transparent;
    transition: all .3s;

    &:hover,
    &:focus {
      border-color: $accent;
    }
  }
}