.nova,
.popular,
.like {
  margin-bottom: 137px;

  &__container {
    max-width: 940px;
  }

  &__title {
    margin-bottom: 62px;
  }

  &__item {
    position: relative;
    right: -15px;
    max-width: 280px;
    margin: 0 0 83px;
    padding-top: 30px;
    background-color: $bg-footer;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      background-color: rgba(142, 141, 141, 0.4);
    }
  }

  &__image {
    margin: auto;
    margin-bottom: 50px;
  }

  &__text {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }

  .slick-prev {
    position: absolute;
    top: 39%;
    left: -41px;
    transform: translateY(-40%);
    width: 24px;
    height: 57px;
    z-index: 5;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/left.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;
  }

  .slick-next {
    position: absolute;
    top: 39%;
    right: -42px;
    transform: translateY(-40%);
    width: 24px;
    height: 57px;
    z-index: 5;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;
  }

  &__link-box {
    text-align: center;
  }

  &__link {
    font-family: $roboto;
    padding: 11px 15px;
    margin: 0 auto;
  }
}