.base {
  padding-top: 90px;
  margin-bottom: 122px;

  &__inner {
    display: flex;
    justify-content: space-evenly;
  }

  &__image {
    max-width: 700px;
    position: relative;
    left: -135px;
    width: 100%;
  }
}

.filter-color {
  margin-left: -37px;

  &__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
    padding-top: 85px;
    margin-bottom: 45px;
  }

  &__text-top {
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  &__text {
    margin-bottom: 68px;
  }

  &__box {
    display: flex;
    margin-bottom: 32px;
  }

  &__box+.filter-color__box {
    display: flex;
    margin-left: 72px;
    position: relative;
    margin-bottom: 80px;
  }

  &__text-advice {
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 6px;
  }

  &__text-mini {
    font-size: 16px;
    margin: 3px 0 0 78px;
  }

  &__advice {
    margin-right: 58px;
    position: relative;
    left: -60px;
    cursor: pointer;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {

      &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: #D6AC94;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        &:hover {
          width: 50px;
          height: 50px;
          border: 2px solid #D6AC94;
        }
      }
    }

    &:nth-child(2) {
      &::before {
        background-color: #C69D83;
      }

      &::after {
        border-color: #C69D83;
      }
    }

    &:nth-child(3) {
      &::before {
        background-color: #CEA48E;
      }

      &::after {
        border-color: #CEA48E;
      }
    }

    &:nth-child(4) {
      &::before {
        background-color: #BC917B;
      }

      &::after {
        border-color: #BC917B;
      }
    }

    &:nth-child(5) {
      &::before {
        background-color: #C5997B;
      }

      &::after {
        border-color: #C5997B;
      }
    }
  }

  &__advice-active {
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #D6AC94;
      top: -10px;
      left: -10px;
    }
  }

  &__compound {
    &::after {
      content: "";
      display: block;
      position: relative;
      left: 8px;
      height: 1px;
      margin-bottom: 64px;
      background-color: #fff;
    }
  }

  &__compound-subtitle {
    position: relative;
    display: block;
    top: 1px;
    padding-bottom: 15px;
    margin: 0 0 0 9px;
    text-transform: uppercase;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 9px;
      right: 0;
      width: 14px;
      height: 1px;
      background-color: $text;
      transition: all 0.3s;
    }

    &::before {
      right: 6px;
      transform: rotate(41deg);
    }

    &::after {
      right: -4px;
      transform: rotate(-41deg);
    }
  }

  &__compound-subtitle.active::before {
    transform: rotate(-41deg);
  }

  &__compound-subtitle.active::after {
    transform: rotate(41deg);
  }

  &__compound-text {
    display: none;
    font-size: 16px;
    margin: 0 0 15px 9px;
  }

  &__compound-link {
    font-family: $roboto;
    margin-left: 6px;
    padding: 13px 16px 12px;
    border: 3px solid $accent;
  }
}