.inventor {
  margin-bottom: 119px;
  
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    margin-right: 5px;
  }

  &__item {
    max-width: 500px;
    margin-left: 65px;
  }

  &__text {
    margin-bottom: 32px;

    &:first-child {
      padding-top: 53px;
    }

    &:nth-of-type(2) {
      margin-bottom: 35px;
    }
  }

  &__accent {
    margin-bottom: 30px;

    &:first-of-type {
      font-family: $roboto;
      font-weight: 500;
      letter-spacing: 0.7px;
    }

    &:nth-of-type(2) {
      margin-bottom: 41px;
    }
  }
}