.history {
  margin-bottom: 123px;

  &__container {
    max-width: 1130px;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__subtitle {
    margin-bottom: 62px;
    margin-right: -3px;
  }

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__link {
    display: block;
    margin-right: -2px;
    transition: all .5s;

    &:hover {
      color: $accent;
      background: linear-gradient(120deg, #EC008C, #0250c5, #EC008C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all .5s;
    }
  }

  &__link+ .history__link {
    margin-left: 31px;
  }

  &__text {
    font-size: 24px;
    text-align: center;
    background: rgba(236, 0, 140, 0.15);
    padding: 67px 6px 54px 0;
    color: $text;
  }
}